* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0 100px;
    position: fixed;
    background-image: linear-gradient(#033747, #012733);
}

nav .logo p {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}


nav ul {
    float: right;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 30px;
    color: white;
    text-decoration: none;
}

button a {
    background-color: rgb(5, 49, 5);
    text-decoration: none;
    border: none;
    color: white;
}

nav li a:hover {
    color: #ff8c69;
    transition: all 0.4s ease 0s;
}

.content-items img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.about-section,
.services-section,
.contact-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.about-section h2,
.services-section h2,
.contact-section h2 {
    color: #333;
}

.about-section p,
.services-section p,
.contact-section p {
    color: #666;
    line-height: 1.6;
}

.service-item {
    margin-bottom: 20px;
}

.service-item h3 {
    color: #007BFF;
}

.contact-section form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-image: linear-gradient(#033747, #012733);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:rgb(5, 48, 5);
}
footer {
    background-image:linear-gradient(#033747, #012733);;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
} 
